{% extends 'main/base.html' %}
{% load static %}
{% block title %}HomePage{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
    <style>
        #graph-container {
            margin: 20px auto;
            max-width: 100%;  /* Ensure it matches the graph width */
            background-color: #fff; /* White background */
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            color: #00563B; /* Dark green text */
            display: flex;
            flex-direction: row; /* Arrange graphs in a row */
            justify-content: space-between; /* Adjust space distribution */
            align-items: flex-start;
            flex-wrap: nowrap; /* Prevent wrapping */
        }

        .graph-section {
            flex: 1 1 30%; /* Adjust the width of each section */
            margin: 5px; /* Reduced space between sections */
            display: flex;
            flex-direction: column; /* Stack heading and graph vertically */
            align-items: center;
            /* width: 550px; */
        }

        .graph-section h3 {
            margin: 0 0 5px 0; /* Reduced space below the heading */
            color: #00563B; /* Dark green text for heading */
            text-align: center; /* Center-align the headings */
        }

        #bar-chart-section {
            flex: 1 1 35%; /* Adjust width to accommodate the bar chart */
            margin: 5px; /* Reduced space between sections */
        }

        /* Ensure the container of each chart adapts to its content */
        .graph-section, #bar-chart-section {
            box-sizing: border-box; /* Include padding and border in the element's total width and height */
        }
    </style>
{% endblock %}

{% block content %}


<div id="row">
    <div class="form-container">
        <h2>Welcome to the HomePage</h2>
            {% csrf_token %}
            
{% endblock %}
