{% extends 'main/base.html' %}
{% load static %}
{% block title %}HomePage{% endblock %}

{% block extra_head %}
    <style>
        #graph-container {
            margin: 20px auto;
            max-width: 100%; /* Ensure it matches the graph width */
            background-color: #fff; /* White background */
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            color: #00563B; /* Dark green text */
            display: flex;
            flex-direction: row; /* Arrange graphs in a row */
            justify-content: space-between; /* Adjust space distribution */
            align-items: flex-start;
            flex-wrap: nowrap; /* Prevent wrapping */
        }

        .graph-section {
            flex: 1 1 30%; /* Adjust the width of each section */
            margin: 5px; /* Reduced space between sections */
            display: flex;
            flex-direction: column; /* Stack heading and graph vertically */
            align-items: center;
        }

        .graph-section h3 {
            margin: 0 0 5px 0; /* Reduced space below the heading */
            color: #00563B; /* Dark green text for heading */
            text-align: center; /* Center-align the headings */
        }

        #bar-chart-section {
            flex: 1 1 30%; /* Adjust width to accommodate the bar chart */
            margin: 5px; /* Reduced space between sections */
        }

        /* Ensure the container of each chart adapts to its content */
        .graph-section, #bar-chart-section {
            box-sizing: border-box; /* Include padding and border in the element's total width and height */
        }
    </style>
{% endblock %}

{% block content %}
{% if message %}
    <div id="no-data-message" style="color: #00563B; text-align: center; margin-top: 20px;">
        {{ message }}
    </div>
{% else %}
    <div id="graph-container">
        <div class="graph-section" id="distance-pie-section">
            <h3>This Week</h3>
            <h3>Total Distance: {{ total_distance }} km</h3>
            {{ distance_pie|safe }}
        </div>
        <div class="graph-section" id="carbon-footprint-pie-section">
            <h3>This Week</h3>
            <h3>Total CO2: {{ total_carbon_footprint }} kg</h3>
            {{ carbon_footprint_pie|safe }}
        </div>
        <div id="bar-chart-section">
            {{ avg_plot|safe }}
        </div>
    </div>
{% endif %}
{% endblock %}

{% block extra_scripts %}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}
